# .env.example
# +---------------------------------------------------------------------------+
# |                            ENVIRONMENT VARIABLES                          |
# +---------------------------------------------------------------------------+
# | SUPPORT TRIAGE AGENT
# +---------------------------------------------------------------------------+

APP_NAME="Support Triage Agent"
LLAMA_MODEL=
MODEL_API_KEY=
MODEL_API_URL=
MODEL_NAME=
MODEL_EMBEDDING=

PROJECT_NAME=
