chromadb
langchain
langchain-chroma
langchain-community
langchain-openai
langchain-text-splitters
numpy
openai
pandas
pathlib
pytest
pytest-mock
python-dotenv
python-frontmatter
sentence-transformers
typing
